/src/ViaVarejo.Konduto.Data.Mongo/bin/
/src/ViaVarejo.Konduto.Data.Mongo/obj/

/src/ViaVarejo.Konduto.Data.Sql/bin/
/src/ViaVarejo.Konduto.Data.Sql/obj/

/src/ViaVarejo.Konduto.DI/bin/
/src/ViaVarejo.Konduto.DI/obj/

/src/ViaVarejo.Konduto.Domain/bin/
/src/ViaVarejo.Konduto.Domain/obj/

/src/ViaVarejo.Konduto.Proxy/bin/
/src/ViaVarejo.Konduto.Proxy/obj/

/src/ViaVarejo.Konduto.Test/bin/
/src/ViaVarejo.Konduto.Test/obj/

/src/ViaVarejo.Konduto.WebApi/bin/
/src/ViaVarejo.Konduto.WebApi/obj/